In [7]:
import pandas as pd 
import numpy as np 
from sklearn.datasets  import load_iris

In [5]:
data = load_iris()

In [13]:
data_inputs = pd.DataFrame(data.data, columns=data.feature_names)
data_inputs.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [21]:
data_labels = pd.DataFrame(data.target)

In [22]:
data_labels

     0
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
10   0
11   0
12   0
13   0
14   0
15   0
16   0
17   0
18   0
19   0
20   0
21   0
22   0
23   0
24   0
25   0
26   0
27   0
28   0
29   0
..  ..
120  2
121  2
122  2
123  2
124  2
125  2
126  2
127  2
128  2
129  2
130  2
131  2
132  2
133  2
134  2
135  2
136  2
137  2
138  2
139  2
140  2
141  2
142  2
143  2
144  2
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]